# Dependencies
node_modules/
functions/node_modules/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log
firebase-export*

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
